<li id="<%= wrapper[:id] %>" class="<%= wrapper[:class] %>" >
  <fieldset>
    <legend class="label">
      <%= label -%>
    </legend>
    <ol>
      <% chronos.each do |item| %>
      <li <%= html_attr wrapper %>>
        <%= item[:label] -%>
        <%= item[:input] -%>
      </li>
      <% end -%>
    </ol>
  </fieldset>
  <%= hint -%>
  <%= inline_errors -%>
</li>
