<p <%= html_attr wrapper %>>
  <%= "#{label}<br />" if label.present? -%>
  <%= input %><br />
  <%= "<span class=\"inline-hints\">#{hint}</span><br />" if hint.present? -%>
  <%= inline_errors -%>
</p>
