<li <%= raw wrapper.map {|atr,value| "#{atr}=\"#{value}\""}.join(' ') %>>
  <%= label -%>
  <%= input -%>
  <% if hint.present? -%>
    <p class="inline-hints"><%= hint %></p>
  <% end -%>
  <%= inline_errors -%>
</li>
